@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  /* color: black; */
}

.navbar {
  height: 55px;
  background: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
}


.fa-earth-africa {
  width: 30px;
  color: #ffffff;
}

.heading {
  color: #ffffff;
  font-weight: 500;
  font-size: 14.5px;
  letter-spacing: -0.07em;
}

.card {
  display: flex;
  margin: 50px 40px;
}

.coverImg {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.card-content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location i{
  color:#F55A5A;
  width: 7px;
  margin-right: 5px;
}

.location {
  font-weight: 400;
  font-size: 10.25px;
  letter-spacing: 0.17em;
  color: #2B283A;
  margin-right: 15px;
}

.card-title {
  display: flex;
  align-items: center;
}
.card-title a {
  color: #918E9B;
  font-weight: 400;
  font-size: 10.3px;
}

.title {
  margin-top: 6px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
}

.date {
  font-weight: 700;
  font-size: 10.3px;
  line-height: 12px;
  margin-top: 15px;
}

.card-desc {
  margin-top: 10px;
  font-weight: 400;
  font-size: 10.3px;
  line-height: 150%;
  color: #2B283A;
}